<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExercicioP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>br.com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>br.com.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastCarController</display-name>
    <servlet-name>CadastCarController</servlet-name>
    <servlet-class>br.com.controller.CadastCarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastCarController</servlet-name>
    <url-pattern>/CadastCarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaCarrosController</display-name>
    <servlet-name>ListaCarrosController</servlet-name>
    <servlet-class>br.com.controller.ListaCarrosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaCarrosController</servlet-name>
    <url-pattern>/ListaCarrosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletaCarro</display-name>
    <servlet-name>DeletaCarro</servlet-name>
    <servlet-class>br.com.controller.DeletaCarro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletaCarro</servlet-name>
    <url-pattern>/DeletaCarro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaCarroId</display-name>
    <servlet-name>ListaCarroId</servlet-name>
    <servlet-class>br.com.controller.ListaCarroId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaCarroId</servlet-name>
    <url-pattern>/ListaCarroId</url-pattern>
  </servlet-mapping>
</web-app>